
body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: 4px solid blue;
}

.login-container {
    background-color: aqua;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    border: 4px solid blue;
}

.login-container h2 {
    text-align: center;
}

.login-form {
    display: table-footer-group;
    flex-direction: column;
    border: 4px solid blue;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid red;
    border-radius: 4px;
}

.form-group input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}