body{
    background-color: antiquewhite;
}
h2{
    color:black;
    text-align: center;
    font-size: 50px;
}
h1{
    text-align: center;
    padding-left: 30px;
}
pre{
    text-align: center;
    font-size: 30px;
}
h3{
    font-size: 20px;
    padding-left: 30px;
    background-color: transparent;
}